extends ../includes/layout

// tells jade to plug this content into the placeholder in the layout
block main-content
  nav.navbar.navbar-inverse.navbar-fixed-top.navbar-default(role="navigation")
    .container
      .navbar-header
        button.navbar-toggle(type="button", data-toggle="collapse", data-target="#bs-example-navbar-collapse1")
          span.sr-only Toggle Navigation
          span.icon-bar
          span.icon-bar
          span.icon-bar
        a.navbar-brand(href="/") Multivision2014
      .navbar-collapse.collapse#bs-example-navbar-collapse1
        ul.nav.navbar-nav
          li
            a(href="/") Home
          li
            a(href="/courses") Courses
          li
            a(href="/renewables") Renewables
          li
            a(href="/map") Map
        div(ng-include="'/partials/account/navbar-login'")

  section.content
    div(ng-view)

  footer.container.text-center
    p &copy: 2014 Multivision2014 Corp International
