doctype
html
    head
        link(href="/carabiner.ico", rel="shortcut icon", type="image/x-icon")
        link(href="/css/bootstrap_flatly.css",rel="stylesheet")
        link(href="/vendor/toastr/toastr.css",rel="stylesheet")
        link(href="/vendor/leaflet-dist/leaflet.css",rel="stylesheet")
        link(href="/css/site.css", rel="stylesheet")
    body(ng-app='mvApp')
      include currentUser
      block main-content
      include scripts
