doctype
html
    head
        link(href="/carabiner.ico", rel="shortcut icon", type="image/x-icon")
        link(href="/css/bootstrap.min.css",rel="stylesheet")
        link(href="/vendor/toastr/toastr.css",rel="stylesheet")
        link(href="/css/site.css", rel="stylesheet")
    body(ng-app='mvApp')
        block main-content
        include scripts
