.container
  .jumbotron
    h1 Multivision2014
    p The cheetah (Acinonyx jubatus) is a large feline (family Felidae, subfamily Felinae) inhabiting most of Africa and parts of the Middle East. It is the only extant member of the genus Acinonyx. The cheetah can run faster than any other land animal— as fast as 112 to 120 km/h (70 to 75 mph).

  .row
    .col-md-6
      div(ng-include="'/partials/main/featured-courses'")
    .col-md-6
      div(ng-include="'/partials/main/new-courses'")